body {
    margin-right: 150px;
    margin-left: 150px;
}
.header {
	background-color:#3399FF;
    color:white;
    text-align:center;
    padding:5px;
	text-decoration: none;
}

header {
    background-color:#3399FF;
    color:white;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:#3399FF;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
.clear {
	clear:both;
}