

<fieldset><legend>Employment Overview</legend>
		<li>
			<div>
				<label for="PrevEmployedHere">Have You Ever Been Employed With J & B Staffing?</label>
				<input name="PrevEmployedHere" type="radio" value="Yes" /> Yes 
				<input name="PrevEmployedHere" type="radio" value="No" checked="checked" /> No
			</div>
		</li>
		<li>
			<div>
				<label for="JBCompaniesTemp">What Companies Did You Work For? </label>
				<textarea name="JBCompaniesTemp" rows="1" cols="19" style="width: 220px" /></textarea>
			</div>
		</li>
		<li>
			<div>
				<label for="Position">Position you are applying for *</label>
				<input name="Position" type="text" maxlength="100" style="width: 220px" />
			</div>
		</li>
		<li>
			<div>
				<label for="JB_Referred">How Were You Referred To J & B Staffing?</label>
				<input name="JB_Referred" type="text" maxlength="100" style="width: 220px" />
			</div>
		</li>
		<li>
			<div>
				<label for="Availability_Days"><b>Which Days Are You Available To Work?</b></label></td><td>
				<input name="Availability_Days" type="checkbox" value="Monday" /> Monday <br />  
				<input name="Availability_Days" type="checkbox" value="Tuesday" /> Tuesday <br />  
				<input name="Availability_Days" type="checkbox" value="Wednesday" /> Wednesday <br />  
				<input name="Availability_Days" type="checkbox" value="Thursday" /> Thursday <br />  
				<input name="Availability_Days" type="checkbox" value="Friday" /> Friday <br />  
				<input name="Availability_Days" type="checkbox" value="Saturday" /> Saturday <br />  
				<input name="Availability_Days" type="checkbox" value="Sunday" /> Sunday <br />  
			</div>
		</li>
		<li>
			<div>
			<label for="Availability_Cities"><b>Cities You Are Available To Work In:</b></label>
			<input name="Availability_Cities" type="text" maxlength="100" style="width: 220px" />
			</div>
		</li>
		<li>
			<div>
				<label for="Availability_Shifts"><b>Shifts Available:</b></label></td>
				<input name="Availability_Shifts" type="checkbox" value="1st" /> 1st  
				<input name="Availability_Shifts" type="checkbox" value="2nd" /> 2nd   
				<input name="Availability_Shifts" type="checkbox" value="3rd" /> 3rd 
			</div>
		</li>
		<li>
			<div>
				<label for="Availability_Start"><b>When are you available to start?</b></label>
				<input name="Availability_Start" type="date" />
			</div>
		</li>
		<li>
			<div>
				<label for="Availability_Other"><b>Please check any of the following that apply to you:</b></label>
				<input name="Availability_Other" type="checkbox" value="Longterm" /> Available for long term assignments <br />  
				<input name="Availability_Other" type="checkbox" value="Same_Day" /> Will accept same day assignments <br />  
				<input name="Availability_Other" type="checkbox" value="Temp2Perm" /> Available for temporary to permanent assignments <br /> 
				<input name="Availability_Other" type="checkbox" value="Car_Available" /> Car available <label for="OwnCar"> <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If yes, is this your own car? </label> 
				<input name="OwnCar" type="radio" value="Yes"/> Yes
				<input name="OwnCar" type="radio" value="No" /> No <br />
				<input name="Availability_Other" type="checkbox" value="Resume" /> Resume attached <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label for="Resume" ><input name="Resume" type="file" /><br />
			</div>
		</li>
		</fieldset>